.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered label {
  color: black;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centered input {
  width: 50px;
  height: 30px;
}
